[Unit]
Description=Prometheus exporter for Kkkkkeepalived 
Documentation=https://github.com/cafebazaar/

[Service]
Restart=always
User=root
ExecStart=/usr/local/bin/keepalived-exporter-1.1.0.linux-amd64/keepalived-exporter


[Install]
WantedBy=multi-user.target
