[Unit]
Description=Prometheus exporter for Bind
Documentation=https://github.com/digital_ocean/bind_exporter

[Service]
Restart=always
User=bindExporter
EnvironmentFile=/etc/default/prometheus-bind-exporter
ExecStart=/usr/bin/prometheus-bind-exporter $ARGS

[Install]
WantedBy=multi-user.target