#!/bin/bash

mysqldump agama > ~/backup/agama.sql

ssh AlekefromKz@backup.aleke.kz mkdir backup-$(date +"%Y-%m-%d") 
ssh AlekefromKz@backup.aleke.kz mkdir backup-$(date +"%Y-%m-%d")/agama
ssh AlekefromKz@backup.aleke.kz mkdir backup-$(date +"%Y-%m-%d")/latency 
ssh AlekefromKz@backup.aleke.kz mkdir backup-$(date +"%Y-%m-%d")/telegraf
ssh AlekefromKz@backup.aleke.kz mkdir backup-$(date +"%Y-%m-%d")/grafana

duplicity --no-encryption full ~/backup/agama.sql rsync://AlekefromKz@backup.aleke.kz//home/AlekefromKz/backup-$(date +"%Y-%m-%d")/agama
