#!/bin/bash

cp /var/lib/grafana/grafana.db ~/backup/grafana.db
influxd backup -database telegraf ~/backup/telegraf
influxd backup -database latency ~/backup/latency

d=$(date +"%m-%d-%Y")
d=${d##*-}-${d%-*}
lst_sunday=$(date -d "$d -$(date -d $d +%u) days" +"%Y-%m-%d")

duplicity --no-encryption full ~/backup/grafana.db rsync://AlekefromKz@backup.aleke.kz//home/AlekefromKz/backup-$lst_sunday/grafana
duplicity --no-encryption full ~/backup/telegraf rsync://AlekefromKz@backup.aleke.kz//home/AlekefromKz/backup-$lst_sunday/telegraf
duplicity --no-encryption full ~/backup/latency rsync://AlekefromKz@backup.aleke.kz//home/AlekefromKz/backup-$lst_sunday/latency
